<div class="bg">
<br><br><br>
    <h1 style="color: green;">Directives:</h1>
<div class="text">
    <h2>Directives are a way of attaching behaviour to the elements int the Dom.
        <br>
        It is anonnated with @Directive
        <br>
        We have 4 types of directivesbe
        <ul>
            <li>Component Directive</li>
            <li>Structural Directive</li>
            <li>Attribute Drective</li>
            <li>Custom Directive</li>
        </ul>
        <br>
        <h1>1. Component Directive</h1>
        <h4>It is commonly used in components as @Directive</h4><br>
        <h1>2. Structural Directive</h1>
        <h4>We have 3 structural directives.
            <br>
            <ul>
                <li>*ngIf</li>
                <li>*ngFor</li>
                <li>*ngSwitch</li>
            </ul>
        </h4><br>
        <h4>*ngIf</h4>
        <div>
            <h3 *ngIf="true">Is trure</h3>
            <h3 *ngIf="false">Is false</h3>
            <h3 *ngIf="yes">Is true again</h3>
            <h3 *ngIf="no">Is false again</h3>
        </div>
        <br>
        <h4>*ngFor</h4>
        <h3>We use this to interate through objects or an array</h3>
        <br>
        <div>
            <ul *ngFor="let x of info()">
                <li>{{x.name}}, Age: {{x.age}} Job: {{x.job}} </li>
            </ul>
        </div>
        <h4>*ngSwitch</h4>
        <div [ngSwitch]="number">
            <h1>Enter any Number from 0 to 5 :-</h1>
         <input type="text" [(ngModel)]="number">
         <div *ngSwitchCase="0">Zero</div>
         <div *ngSwitchCase="1">One</div>
         <div *ngSwitchCase="2">Two</div>
         <div *ngSwitchCase="3">Three</div>
         <div *ngSwitchCase="4">Four</div>
         <div *ngSwitchCase="5">Five</div>
         <div *ngSwitchDefault="">Hey enter Number :p</div>
        </div > <br>
        <h1>Attribute Directive</h1>
        <h4>ngClass</h4>
        <h1 [ngClass]="'class'">Hello there!</h1>
        <h4>ngStyle</h4>
        <h1 [ngStyle]="{'color':'blue'}">Hahaha my color is blue</h1>
        <h1 [ngStyle]="{'background-color':'yellow'}">Hahaha my background color is yellow</h1>
        <br>
        <h1>Custom Directives</h1>
        <h4>In order to make custom directives we have use this command in terminal, ng g d "name of the directive"
            <br>
            and then in the custom directive give an instance, (private: ele: ElemenetRef) in constructor
            <br>
            then use the native element, (this.ele.nativeElement.style.color='hotpink')
            <br>
            in order to activate this custom directive, use the selector of the directive in you elements
        </h4>
        <h1 appDirective>I'm custom directive made with hotpink</h1>
    </h2>
</div>
</div>