<div class="bg">
    <br><br><br>
    <h1>Observables</h1>
    <h4>The data we get from the back-end is in the form of observables.
        <br>
        We use subscibe tot get the observables.
        <br>
        It is in ascyncronuos format
        <br>
        we have theree stages:
        <br>
        <li>next</li>
        <li>error</li> 
        <li>complete</li>
    </h4>
    <br><br>
    <h1>The Observalbe Flow from class (uncomment in ts(class) for it to work):{{xo}}</h1>
    <br>
    <h1>The Observable from service an array type:{{yo}}</h1>
    <br>
    <h1>The Observable from service as an object type:{{zo|json}}</h1>
    <br>
    <h1>A syncronous Observale from service: {{oo}}</h1>
</div>