<div class="bg">
    <br><br><br>
    <h1>Reactive Form</h1>
    <h4>Reactive Forms are used to create dynamic forms. 
        <br>
        They are really powerful and flexible.
        <br>
        Reactive forms: Features-
        <br>
        <li>Using custom validators</li>
        <li>Changing validation dynamically</li>
        <li>Dynamically adding form fields </li>
        <br>
        We have to import reactiveForms Module in app.module.ts
    </h4>
    <h1>Basic Reactive From</h1>
    <br>
    <form [formGroup]="log">
        <input type="text" formControlName="name" placeholder="name" name="name"><br>
        <input type="password" formControlName="pass" placeholder="password" name="pass"><br>
        <button (click)="login()">Login</button>
    </form>
    <br>
    <h2 style="color: grey;">Check in the consle for results</h2>
    <br>
    <h1>Reactive Form with Validations</h1>
    <br>
    <form [formGroup]="lo" (ngSubmit)="l()">
        <h1>Hi bhavan, How are you!</h1>
        <h1>Hello,I'm bhavana, not bhavan!!</h1>
        <input type="text" formControlName="email" placeholder="Email" name="n" [ngClass]="{'is-invalid': submitted && bhav['email'].errors}">
        <div *ngIf="submitted && bhav['email'].errors" class="invalid-feedback">
            <div *ngIf="bhav['email'].errors.required">
                  Email is Required
            </div>
            <div *ngIf="bhav['email'].errors.email">
                It should be a valid email address
          </div>
        </div>
        <!-- The form field is invalid when the validations are not satisfied(i.e.,considered as errors),  So on submit, we r displaying the error messages -->
        <!-- Here class="invalid-feedback" gives us the error message in red -->
        <br>
        <input type="password" formControlName="p" placeholder="password" name="p" [ngClass]="{'is-invalid': submitted && bhav['p'].errors}">
        <div *ngIf="submitted && bhav['p'].errors" class="invalid-feedback">
            <div *ngIf="bhav['p'].errors.required">
                  Password is Required
            </div>
        </div>
        <br>
        <button (click)="onSubmit()">Login</button>
    </form>
    <br>
    <h1>Click to see tha data below and scroll:</h1>
    <pre>{{show.value|json}}</pre>
</div>