.img{
    background-image: url('https://images.unsplash.com/photo-1502657877623-f66bf489d236?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.o{
    background-image: url(https://media3.giphy.com/media/3oEdv1GbekAakxXO8g/giphy.gif?cid=ecf05e47mx57ckyzh8dueyiw78xg1mun8dl7a2ilb7csute5&rid=giphy.gif&ct=g);
}