<div class="img">
    <nav class="o navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="bg">
                <img src="http://riffsngifs.com/gifs/gif_04.gif" alt="" width="30" height="24">
              </a>
          <a class="navbar-brand" routerLink="home">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" routerLink="binding">Data Bindings</a>
              <a class="nav-link" routerLink="parentChild">Parent to Child Interaction</a>
              <a class="nav-link" routerLink="directives">Directives</a>
              <a class="nav-link" routerLink="lch">Life Cycle Hooks</a>
              <a class="nav-link" routerLink="cpp">Content Projection-(parent)</a>
              <a class="nav-link" routerLink="cpc">Content Projection-(child)</a>
              <a class="nav-link" routerLink="service">Services</a>
              <a class="nav-link" routerLink="routing">Routing</a>
              <a class="nav-link" routerLink="lazyLoad">lazy Loading</a>
              <a class="nav-link" routerLink="template">Template Form</a>
              <a class="nav-link" routerLink="reactive">Reactive Form</a>
              <a class="nav-link" routerLink="http">Http Client MEthods</a>
              <a class="nav-link" routerLink="obs">Observables</a>
              <a class="nav-link" routerLink="pipes">Pipes</a>
            </div>
          </div>
        </div>
      </nav>
      <router-outlet></router-outlet>
</div>