<div>
    <br><br><br>
    <h1>HTTP CLIENT METHODS</h1>
    <h4>It is crud operaation.
        <br>
        create, read, update, delete
        <br>
        get, post, put, delete
        <br>
        we use this to get data from backend, edit, delete, create.
        <br>
        genereally we'll have api keys. from now we'll use json server.
        <br>
        to install json server use command, npm istall -g json-server
        <br>
        to run it use command, --watch db.json
        <br>
        you will the api key or .com when you run the server. It'll only work if it runs in real time
    </h4>
    <br><br><br>

    <form [formGroup]="login" (ngSubmit)="post()">
        <input type="number" formControlName="id" name="id" placeholder="number">
        <input type="text" formControlName="name" name="name" placeholder="name">
        <br>
        <input type="password" formControlName="pin" name="pin" placeholder="password">
        <br>
        <button>Login</button>
        <button (click)="put()">Update</button>
    </form>


    <table border="2" style="text-align: center;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>PIN</th>
            </tr>
        </thead>
        <tbody  *ngFor="let x of data">
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.name}}</td>
                <td>{{x.pin}}</td>
            </tr>
        </tbody>
    </table>
    <!-- {{data|json}} -->
</div>