<div class="bg">
    <br><br><br>
    <h1>Services</h1>
    <h4>Service is a single ton class
        <br>
        It is decorated with @Injectable
        <br>
        Services are used to share same piece of imfomration to multiple components
        <br>
        It hold business logic
        <br>
        Interacts with backend
        <br>
        To generate services, use ng g s "name"
    </h4>
    <br><br>
    <h1>Inisde component Information</h1>
    <div *ngFor="let x of information">
    <ul>
        <li>{{x.id}} - {{x.name}} - {{x.type}}</li>
    </ul>
    <br><br>
    <h1>Now from a serive, like said use ng g s serviceName</h1>
    <h4>Inject the service in constructor, (private: service: ServiceService)
        <br>
        And iterate it.
    </h4>
    <div *ngFor="let y of dat">
        <ul>
            <li> Id: {{y.id}} - Name: {{y.name}} - Status: {{y.status}}</li>
        </ul>
    </div>
    </div>
</div>