<div class="bg">
    <br><br><br>
    <h1>Lazy Loading</h1>
    <h4>Lazy Loading is one of the most useful conecept in anugular.
        <br>
        It make the website download in chunks insted of downloading everything at once.
        <br>
        making the application smooth and lag free
        <br><br>
        We use this command to generate lazy loading component: ng g module lazyLoad --route lazyLoad --module app.module
        <br><br>
        It only activated when click on the component
    </h4>
    <img [src]="img" alt="">
</div>