<div class="bg">
    <br><br><br>
    <h1>Guards</h1>
<h4>Guards are a way to perform a check weather a user can navigate to a certain route or not</h4>
<h4>we 5 differet type of guards, used based on the requirment</h4>
    <h4>
    <li>canActivate - checks to see if a user can vist a route</li>
    <li>canActivateChild - checks to see if a user can vist a routes children</li>
    <li>canDeactivate - checks to see if a user can exit a route</li>
    <li>canLoad (also known as lazy loading) - checks to see if a user can route to a module that is lazy loaded</li>
    <li>reslove - perfomes route data reterival before route activation</li>
    </h4>
 <h4>to generate a guard we use, ng g g *guard name*</h4>
<h4>returns boolean value only</h4>
<br><br>
<h1>Can Activate</h1>
<h4>careate a service authService</h4>
<h4>ng g g canAct, remove everything in ts of can act guard</h4>
<h4>give either true or false in the guard, to redorect based on your needs</h4>
<h4>make sure to put canActivae: [] in app.routing and also in providers in app.module.ts put guard name</h4>
<button (click)="canAct()">Can Activate</button>
<br>
<h1>Can Activate Child</h1>
<h4>ng g g adminGuard, remove everything which come default
    <br>
    Its used to put gaurds in child routes
    <br>example: user/admin access
</h4>
<h1><a class="btn btn-danger" (click)="nameAddress()">can Activate Child</a></h1>
<br><br>
<h1>canDeactivate</h1>
<h4>it is called when we want to naviagte away from the existing component
    <br>
    ex: giving user a confirmation if he leaves the page without saving data
    <br>
    we can give the user a chaance to save the information before leaving the companent
    <br>
    ng g g canDeac
    <br>
    give in providers
    <br>
    in canDeacGuard ts, "( put the name of the component you want to in angular braces)" here is appPeople
    <br>
    and in addPeople compaont create a reactive form as it is
    <br>
    canDeactivate(component:AddPeopleComponent) and write the logic
    <br>
    and now navigate to this canDeactive, type something in input tag and click another component in nav bar... You can see it works
</h4>
<br>
<button (click)="canDea()">canDeactivate</button>
<br><br>
<h1>resolve</h1>
<h4></h4>
</div>