<div class="bg">
    <br><br><br>
    <h1>Guards</h1>
<h4>Guards are a way to perform a check weather a user can navigate to a certain route or not</h4>
<h4>we 5 differet type of guards, used based on the requirment</h4>
    <h4>
    <li>canActivate - checks to see if a user can vist a route</li>
    <li>canActivateChild - checks to see if a user can vist a routes children</li>
    <li>canDeactivate - checks to see if a user can exit a route</li>
    <li>canLoad (also known as lazy loading) - checks to see if a user can route to a module that is lazy loaded</li>
    <li>reslove - perfomes route data reterival before route activation</li>
    </h4>
 <h4>to generate a guard we use, ng g g *guard name*</h4>
<h4>returns boolean value only</h4>
<br><br>
<h1>Can Activate</h1>
<h4>ng g g canAct, remove everuthing and put boolen in ts of can act guard</h4>
<h4>Give either true or false in the guard, rite now its false so when you click button it wont redirect tp can actovae page</h4>
<button (click)="canAct()">Can Activate</button>
</div>